<% include ../partials/header %>
<div class="container-fluid">
    <br>
    <div class="panel-heading form-control-sm">
        <h4 class="panel-title">Add User</h4>
    </div>
    <hr>
    <form action="/users/add" method="post">
        <div class="panel-body form-control-sm">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control form-control-sm" id="firstname" placeholder="First Name"
                        name="firstname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control form-control-sm" id="lastname" placeholder="Last Name"
                        name="lastname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control form-control-sm" id="email" placeholder="Email"
                        name="email">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control form-control-sm" id="password" placeholder="Password"
                        name="password">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Position</label>
                <div class="col-sm-5">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="position1" name="position">
                        <label class="form-check-label" for="defaultCheck1">Manager</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="position2" name="position"
                            value="Software Developer">
                        <label class="form-check-label" for="defaultCheck1">Software Developer</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="position3" name="position"
                            value="Quality Assurance">
                        <label class="form-check-label" for="defaultCheck1">Quality Assurance</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Type</label>
                <div class="col-sm-5">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="type" name="type">
                        <label class="form-check-label" for="defaultCheck1">Fulltime</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/users" class="btn btn-warning">Back</a>
                </div>
            </div>
        </div>
    </form>
</div>
<% include ../partials/footer %>